

.add{
    position: absolute;
    margin-top: -80.9%;
    left: 17.3%;
}

.book{
    position: absolute;
    margin-top: 7%;
    left: -300%;
    
}

/* .form{ 
  position: absolute;
  margin-top: -70%;
  left: 30%;
  display: flex;
  flex-direction: column;
  
}  */









