.Chapter{
    position: absolute;
    top: 26.7%; /* ajusta la posición vertical según sea necesario */
    left: 11.5%;
    width: 19%;
    height: 4%;
    transform: translateX(-50%); 
    font-size: 110%;
    background-color: rgb(240, 231, 220);
}


.add{
    position: absolute;
    margin-top: -80.9%;
    left: 17.3%;
}

.book{
    position: absolute;
    margin-top: 7%;
    left: -300%;
    
}