/* .listPdfContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .cardWrapper {
    flex-direction: column;
    align-items: center;
  }
} */
