body {
    margin: 0;
}
.navbar {
    background-color: #1976D2;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
} 
.logo {
    width: 20vh;
    margin-left: 10%;
}

>>>>>>> a8dc850b67d251891789adb3eb8b4addf8969fed
